@import "tailwindcss";

/* Reset manual para matar los estilos por defecto de Vite 
  que causan que todo se vea amontonado o centrado a la fuerza.
*/
:root, body {
  margin: 0;
  padding: 0;
  display: block !important;
  height: auto;
  width: 100%;
  background-color: #faf9f6; /* El color de fondo de tu diseño */
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}